<div class="slide story" id="slide-1" data-slide="1">
	<div class="container">
		<div id="home-row-1" class="row clearfix">
			<div class="col-12">
				<h1 class="font-thin">Welcome to
					<span class="font-semibold">
						MAAV</span></h1>
				<h4 class="font-thin">The
					<span class="font-semibold">University of Michigan's
					</span>
					premiere autonomous air vehicle organization</h4>
				<br>
				<br>
			</div>
			<!-- /col-12 -->
		</div>
		<!-- /row -->
	</div>
</div>

<div class="slide story" id="slide-2" data-slide="2">
	<div class="container">
		<div class="row title-row">
			<div class="col-12 font-thin">
				<span class="font-semibold">MAAV</span>
				is a fully student led project team at the University of Michigan that builds an autonomous drone to compete at the annual International Aerial Robotics Competition (IARC). Members of
				<span class="font-semibold">MAAV</span>
				engage in the designing, building, and testing of an autonomous unmanned aerial system (UAS) while furthering multiple areas of Computer Science and Aerospace Engineering research.</div>
		</div>
		<!-- /row -->
		<div class="row line-row">
			<div class="hr">&nbsp;</div>
		</div>
		<!-- /row -->
		<div class="row subtitle-row">
			<div class="col-12 font-thin">This is what
				<span class="font-semibold">we do</span></div>
		</div>
		<!-- /row -->
		<div class="row content-row">

			<div class="col-12 col-lg-3 col-sm-6">
				<p>
					<i class="icon icon-wrench"></i>
				</p>
				<h2 class="font-thin">
					<span class="font-semibold">Structures</span></h2>
				<h4 class="font-thin">Our structures team is responsible for the design and fabrication of MAAV's airframes. Our quadcopter is a combination of carbon fiber, milled plastic, and 3D printed plastic, which creates a durable, light airframe that can
					withstand intense maneuvers and crashes.</h4>
			</div>
			<!-- /col12 -->
			<div class="col-12 col-lg-3 col-sm-6">
				<p>
					<i class="icon icon-laptop"></i>
				</p>
				<h2 class="font-thin">
					<span class="font-semibold">Software</span></h2>
				<h4 class="font-thin">Our software team develops and implements algorithms that enable the drone to fly on its own, and creates utilities, such as simulators, that are used by other subteams. We also write algorithms to process raw data collected from our sensors.</h4>
			</div>
			<!-- /col12 -->
			<div class="col-12 col-lg-3 col-sm-6">
				<p>
					<i class="icon icon-bolt"></i>
				</p>
				<h2 class="font-thin">
					<span class="font-semibold">Circuits
					</span>
				</h2>
				<h4 class="font-thin">Circuits designs and builds electrical hardware, for both the vehicle and for testing. The vehicle's printed circuit board (PCB) provides a platform for the control software to run and communicate with the navigation software,
					as well as manage the safety of the battery, motors, and operators.</h4>
			</div>
			<!-- /col12 -->
			<div class="col-12 col-lg-3 col-sm-6">
				<p>
					<i class="icon icon-dollar"></i>
				</p>
				<h2 class="font-semibold">Business</h2>
				<h4 class="font-thin">Our business team is responsible for outreach and management. We contact potential sponsors, create the annual budget for all the teams, and manage the organization to ensure all teams are working in unison to develop and improve the drone.</h4>
			</div>
			<!-- /col12 -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /slide2 -->

<div class="slide story" id="slide-5" data-slide="5">
	<div class="container">
		<div class="row title-row">
			<div class="col-12 font-thin">
				<span class="font-semibold">Our Sponsors:</div>
			</div>
			<!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div>
			<!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">Our success in the development of the quadcopter is due in no small part to the support we receive from our sponsors.
				</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div>
			<!-- /row -->
			<div class="row content-row">
				<div class="col-md-4"><%= image_tag "home/lockheedmart.png", rlass: "img-fluid" %></div>
				<div class="col-md-4"><%= image_tag "home/umich-engin.png", class: "img-fluid" %></div>
				<div class="col-md-4"><%= image_tag "home/northrop-grumman.png", class: "img-fluid" %></div>
			</div>
			<div class="row content-row">
				<div class="col-md-4"><%= image_tag "home/saleae.png", class: "img-fluid" %></div>
				<div class="col-md-4"><%= image_tag "home/3dr.png" %></div>
				<div class="col-md-4"><%= image_tag "home/dji.png" %></div>
			</div>
		</div>
		<!-- /container -->

	</div>

	<div class="slide story" id="slide-6" data-slide="6">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-light">Get in<span class="font-semibold">
						touch</span></div>
			</div>
			<!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div>
			<!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">Feel free to reach out, we would love to get to know you</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div>
			<!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p>
						<a target="_top" href="mailto:maav-leads@umich.edu">
							<i class="fa fa-envelope fa-5x"></i>
						</a>
					</p>
					<span class="hover-text font-light ">maav-leads@umich.edu</span></a>
			</div>
			<!-- /col12 -->
			<div class="col-12 col-sm-2 with-hover-text">
				<p>
					<a target="_blank" href="http://teamprojects.engin.umich.edu/teams/michigan-autonomous-aerial-vehicles">
						<i class="fa fa-home fa-5x"></i>
					</a>
				</p>
				<span class="hover-text font-light ">Wilson Center<br>North Campus, University of Michigan</span></a>
		</div>
		<!-- /col12 -->
		<div class="col-12 col-sm-2 with-hover-text">
			<p>
				<a target="_blank" href="https://twitter.com/maavteam">
					<i class="fa fa-twitter fa-5x"></i>
				</a>
			</p>
			<span class="hover-text font-light ">@MAAVteam</span></a>
	</div>
	<!-- /col12 -->
	<div class="col-12 col-sm-2 with-hover-text">
		<p>
			<a target="_blank" href="https://medium.com/maav">
				<i class="fa fa-medium fa-5x"></i>
			</a>
		</p>
		<span class="hover-text font-light ">@MAAV</span></a>
</div>
<!-- /col12 -->
<div class="col-12 col-sm-2 with-hover-text">
	<p>
		<a target="_blank" href="https://www.facebook.com/MichiganAutonomousAerialVehiclesTeam/">
			<i class="fa fa-facebook fa-5x"></i>
		</a>
	</p>
	<span class="hover-text font-light ">@MichiganAutonomousArialVehiclesTeam</span></a>
</div>
<!-- /col12 -->
<div class="col-sm-1 hidden-sm">&nbsp;</div>
</div>
<!-- /row -->
</div>
<!-- /container -->
</div>
